body {
    background-color: bisque;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 80px;
    color: darksalmon;
    font-size: 300%;
}

#guess-input {
    display: block;
    margin: 0 auto 20px;
    padding: 10px;
    font-size: 18px;
    width: 250px;
    border: 10px salmon;
}

#guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: salmon;
    color: black;
    border: 1px rgb(59, 55, 54);
    border-radius: 18px;
}

div {
    text-align: center;
}

button:active {
    transform: scale(0.95);
}

.letter {
    border: 1px slategrey;
    padding: 3px;
    margin: 3px;
    min-width: 20px;
    text-align: center;
    display: inline-block;
}

.row {
    margin-bottom: 10px;
}

.input-area {
    margin: 30px;
}
